* {
    box-sizing: border-box;
}

body {
    width: 400px;
    height: 90px;
    background: linear-gradient(0deg, #573e1a 15%, #396436 10%, #a7c2e0, #7698cf, #0944b1);
}

.board {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(0, 128, 0, 0.274);
    margin: 1px;
}